:root {
    --gradient-1: linear-gradient(#e78182ea, #efd889ea);   
}
.kaushan {
    font-family: 'Kaushan Script', cursive;
}
.montserat {
    font-family: 'Montserrat', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #fff;
}
.sayt {
    width: 1920px;
    margin: 0 auto;
}
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: roboto;
}
.clr {
    clear: both;
}
@font-face {
    font-family: 'roboto';
    src: url('/page/fonts/Roboto-Regular');
}
header {
    color: #fff;
    background-image: var(--gradient-1), url('page/img/kalxat.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.menu-container, .header, .welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-container a {
    padding: 22px 24px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu-container a:hover {
    border-bottom: 2px solid #fff;
}
.welcome {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center {
    text-align: center;
}
.welcome-text {
    padding: 0 0 30 0px;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 4px;
    line-height: 140px;
}
.template {
    font-size: 40px;
    margin-top: 200px;
}
.line {
    border: 2px solid #fff;
    width: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.btn {
    padding: 12px 30px;
    border: 4px solid #fff;
    background: none;
    color: white;
}
@keyframes btn {
    /* 0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    } */
    100% {
        background-color: #efd889;
        box-shadow: 2px 2px 10px 5px #f1cc4f inset;
    }
}
.btn:hover {
    opacity: 0.8;
    color: white;
    background-color: #efd889;
    box-shadow: 2px 2px 10px 5px #f1cc4f inset;
    transition: 1s ;
}
.boxmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.header-bottom {
    width: 22.5%;
    padding: 30px 0;
    border-top: 4px solid white;
    box-sizing: content-box;
    margin-right: 30px;
    position: relative;
}
.header-bottom .span1 {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 80px;
    transform: translate(0, -4px);
    background-color: red;
}
.story-text {
    margin-top: 80px;
}
.p1 {
    text-align: center;
    font-family: sans-serif;
    margin-left: 80px;
    margin-right: 80px;

}
.line1 {
    border-color: #e78182ea;
}
.about-us {
    margin: 20px 0;
}
.image-container {
    float: left;
    width: 32%;
    position: relative;
    background-color: #95e1d3;
}
.image-container:nth-child(2) {
    margin: 0 23.8px;
}
.image-container:hover .overlay {
    opacity: 1;
    transform: translate(-10px, -10px);
}
.image-container:hover .image {
    transform: translate(-10px, -10px);
}
.overlay {
    background-image: var(--gradient-1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}
.image {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    height: 262px;
}
.text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.text i {
margin-left: 45%;
}
.float-container {
    margin: 90px 0;
}
.bg-aqua {
    background-color: #95e1d3;
}
.number-set {
    color: #fff;
    display: flex;
    align-items: center;
}
.number-box {
    width: 240px;
    height: 270px;
    text-align: center;
    padding: 100px 0;
    border-left: 1px solid #b5eae0;
}
.number-box:last-child {
    border-right: 1px solid #b5eae0;    
}
.number-box h1 {
    font-size: 56px;
}
.number-box p {
    font-size: 12px;
    margin-top: 10px;
    font-family: Montserrat, sans-serif;
}
.articles {
    float: left;
    width: 33.33%;
    padding:0 25px 0;
    position: relative;
    margin: 20px 0;
}
.articles img {
    height: 35px;
    width: 35px;
    margin-right: 25px;
    margin-top: 25px;
}
.articles h2 {
    font-size: 14px;
    margin-bottom: 15px;
}
.articles div {
    transform: translate(60px, -40px);
    width: 80%;
}
.articles p {
    font-size: 12px;
    color: #888s;
    line-height: 16px;
}
hr {
    border: 1px solid #ddd;
}
.height40 {
    height: 40px;
    width: 100%;
}
.ayfon-page {
    background-image: url('page/img/kolmak.png');
    background-color: rgba(255, 255, 255, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    height: 850px;
    width: 100%;
    position: relative;
    -webkit-background-clip: 100px 100px 100px 100px;
}
.ayfon-absolute {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

}
.ayfon-image {
    position: absolute;
    left: 50%;
    top: 62%;
    transform: translate(45%, -60px);
    z-index: 1;
}
.ayfon-image-big {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%);
}
.height80 {
    height: 80px;
}
.font-size12 {
    font-size: 16px;
    color: #888;
}
.width80 {
    width: 80%;
}
.align-center {
    margin: 0 auto;
}


/* collapsible */
.wrap-collabsible {
    margin-bottom:0;
    width: 100%;
    margin-bottom: 20px;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  .lbl-toggle {
    display: block;
    width: 100%;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 100%;
  
    padding: 1rem;
  
    color: #000;
    background: transparent;
    border: 1px solid #ddd;
  
    cursor: pointer;
  
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color: #5bfadd;
  }
  
  .lbl-toggle::before {
    content: '';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translate(520px, 165%);
  
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {

    transform: rotate(90deg) translate(420%, -528px);
    color: #fff;
  }

  .toggle:checked + .lbl-toggle {
      background-color: #5bfadd;
      color: #fff;
  }
  
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }

  .toggle:checked + .lbl-toggle {
      border-bottom: 0;
  }
  

  
  .collapsible-content .content-inner {
    background: transparent;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
    
  }
  ::-webkit-scrollbar {width: .35rem;}
::-webkit-scrollbar-track {background: #f8f8f8;}
::-webkit-scrollbar-thumb {
    background-color: #95e1d3;
    border-radius: .15rem;
}
  
.relative {
    position: relative;
    margin-top: 100px;
}
.l-float {
    float: left;
    width: 48%;
}

.r-float {
    float: right;
    width: 48%;
}

.hidden {
    overflow: hidden;

}

/* .width4 {
    float: left;
    width: 4%;
    height: 200px;
    background-color: #111;
} */

.lbl-image {
    float: left;
}
.lbl-float-con {
    width: 100%;
    position: relative;
}

.lbl-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50px, -60%);
    font-size: 20px;
}

.jondoe {
    background-color: #f8f8f8;
}

.line3 {
    display: inline-block;
    width: 50px;
    height: 4px;
    margin-top: 50px;
    background-color: #e78182;
}

.opinion {
    position: relative;
    height: 220px;
    width: 1200px;
}
.arrow-left {
    transform: rotate(180deg) translateX(-20px) translateY(30%);
    position: absolute;
    top: 50%;
    left: 0;
}
.chat {
    float: left;
    margin: 30px 20px 0 100px; 
}
.opinion-text {
    width: 60%;
    position: absolute;
    top: 35px;
    font-size: 22px;
    font-family: roboto;
    color: #888;
    left: 290px;
    
}
.opinion-text span {
    font-size: 22px;
}

.opinion-text p{
text-align: justify;
}

.arrow-right {
    transform: rotate(0);
    right: 0;
    top: 50%;
    transform: translate(1130px, -10px);   
}

/* team */

.image-container2 {
    float: left;
    width: 30%;
    position: relative;
    background-color: #95e1d3;
}

.image-container2:nth-child(2) {
    margin: 0 59.5px;
}

.image-container2:hover .overlay2 {
    opacity: 1;
    transform: translate(-10px, -10px);
}

.image-container2:hover .image2 {
    transform: translate(-10px, -10px);
}

.overlay2 {
    background-image: var(--gradient-1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.image2 {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    transition: 0.5s;
}

.text2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.sm-container {
    width: 240px;
}
.sm-container ul li {
    list-style-type: none;
    float: left;
}
.sm-container ul li a {
    display: block;
    background-color: #fce38a;
    color: #f38181;
    width: 55px;
    height: 55px;
    padding: 10px 10px 10px 13px;
    font-size: 30px;
}

.sm-container a:hover {
    background-color: #f38181;
    color: #fff;
}

.sm-container li {
    border: 0 solid #f38181;
    border-width: 0 1px 0 0;
}

.fa-facebook-f {
    margin-left: 4px;
}

.float-container2 {
    margin: -80px 0 120px 0;
}
.workers {
    float: left;
    width: 33.33%;
    text-align: center;
}

.workers h2 {
    font-family: roboto;
}

.workers p {
    font-family: sans-serif;
    color: #888;
    font-size: 22px;
    margin-top: 5px;
}

.bg-gray {
    background-color: #f1f1f1;
}

.grid-p {
    text-align: center;
    margin-top: 5px;
}

.image-container3 {
    width: 480px;
    height: 390px;
}

.image-container3:hover .overlay {
    opacity: 1;
    transform: translate(0, 0);
}
.image-container3:hover .image3 {
    transform: translate(0, 0);
}

.image-container4 {
    width: 480px;
    height: 780px;
}
.image-container3, .image-container4 .image3 {
    margin: 0;
    padding: 0;
    float: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    max-width: 25%;
    align-content: center;
}

.column img {
    vertical-align: middle;
    width: 100%;
    display: block;
}

.sec {
    transform: translateX(-5%);
}

.chat1 {
    border-radius: 50%;
    transform: translate(20px, -17px);
}
.opinion-text {
    width: 55%;
    transform: translate(80px, 10px);
}

.testimonials {
    width: 50%;
    float: left;
    margin-bottom: 80px;
    margin-top: 40px;
}

.testimonials img {
    border-radius: 50%;
    margin: 0 25px;
    float: left;
}
.test-text {
    float: left;
    width: 320px;
}
/* 
.test-text > div {
    margin-left: 235px;
} */
.test-text p:nth-of-type(2) {
    text-align: left;
    color: #888;
    font-size: 14px;
    margin-top: -20px;
}

/* latest blog */

.latest-float {
    width: 31.66%;
    float: left;
    position: absolute;
}
.latest-float h3 {
    margin-top: 15px;
}

.latest-float p {
    margin: 20px 0;
    color: #666;
}

.latest-float > .date {
    width: 60px;
    height: 75px;
    background-color: #95e1d3;
    color: #fff;
    font-size: 34px;
    text-align: center;
    position: absolute;
    top: 155px;
    left: -10px;
}
.latest-float > .date span {
    font-size: 20px;
}

.latest-float > span {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    display: block;
    margin-bottom: 10px;
}

.btm {
    color: #888;
}

.btm i {
    color: #95e1d3;
}

.f1 {
    left: 0;
}
.f2 {
    left: 50%;
    transform: translateX(-50%);
}
.f3 {
    right: 0;
}

.height400 {
    height: 500px;
}

.map {
    background-image: url('page/img/kolmak.png');
    background-color: rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
    background-position: right top;
    clip: rect(600px, 0, 0, 0);
    background-size: cover;
    height: 200px;
}

.map-op {
    background-color: rgba(255, 255, 255, 0.6);
    height: 200px;
    width: 100%;
    color: #f38181;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
}
.map-op i {
    margin: 40px 0 0 0;
    font-size: 40px;
}

.line3 {
    width: 60px;
    height: 4px;
    background-color: #f38181;
    margin-top: 10px;
}
.footer-float {
    width: 40%;
    float: left;
    color: #bbb;
}

.footer-float h1 {
    font-size: 44px;
    margin: 0 0 30px 0;
}

.footer-float p {
    margin-bottom: 30px;
}

.footer-float .follow {
    color: #333;
    font-weight: bold;
}

.line4 {
    width: 95%;
    height: 1px;
    background-color: #ddd;
    display: block;
    margin-bottom: 20px;
}



.social {

}

.social li {
    float: left;
    margin-left: 0px;
}

.social li:first-child {
    margin: 5px 20px 0 0;
}

.social li a {
    display: block;
    padding: 6px;
    width: 30px;
    height: 30px;
}

.footer-float input {
    padding: 15px;
    border: 1px solid #ccc;
    width: 230px;
    outline: none;
    height: 50px;
}

.footer-float button {
    width: 150px;
    padding: 15px;
    color: #fff;
    outline: none;
    border: 1px solid transparent;
    background-color: #95e1d3;
    margin-left: -5px;
    height: 50px;
}

.footer-float2 {
    width: 35%;
    float: left;
    margin-left: 1.67%;
}

.footer-float2 h2, .footer-float3 h2 {
    margin-bottom: 35px;
    margin-top: 20px;
    color: #333;
}

.blog {
    margin-top: 35px;
}

.blog-link {
    display: inline-block;
    margin-left: 15px;
    transform: translateY(-14%);
}

.blog-date {
    margin-top: 10px;
    color: #888;
    font-size: 14px;
}

.footer-float3 {
    width: 23.33%;
    float: left;
}

.footer-float3 a {
    color: #888;
    margin-top: 20px;
    display: block;
}

.footer-float3 a:hover {
    text-decoration: underline;
}

.copyright {
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}

.copyright span {
    color: #f38181;
}

.opinion button {
    cursor: pointer;
}
